$primary-color: rgba(255,169,9,.73);
$secondary-color: rgba(9,169,255,.73);

$light-primary-color: rgba(255,169,9,.5);
$light-secondary-color: rgba(9,169,255,.5);

$dark-primary-color: rgba(255,169,9,1);
$dark-secondary-color: rgba(9,169,255,1);

$grey-color: #dddddd;