.section-heading {
  padding: 0 4rem;
  margin: 0;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.section-personal {
  padding: 15rem 4rem 4rem 4rem;
  margin-top: -20rem;
  background-color: $grey-color;
}

.section-projects {
  background-color: $grey-color;
}
