.blogs {

  &__article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    background: linear-gradient(35deg ,#fff,$light-secondary-color); 
    padding: 2rem 1em;
    transition: transform .2s ease-in;
    
    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    &:hover {
      transform: scale(1.025);
    }
  }

  &__title {

  }

  &__description {
    
  }

  &__preview {

  }

  &__more {
    position: relative;
    display: inline-block;
    width: 8em;

    @include background-link-animation; 
  }

  &__link {
    @include background-link-animation__link; 
  }

  &__img {
    margin-right: 2rem;
    border-radius: 4px;
  }

}