.header {
  position: relative;
  background-color: linear-gradient($primary-color,$secondary-color);
  max-width: 188rem;
  margin: 0 auto;

  &__heading {
    position: absolute;
    transform: translate(-50%,-50%);
    color: #fff;

    &--slide-1 {
      opacity: 1;
      animation: 7.5s slide-1-animation;  
      left: 50%;
      top: 10%;
      letter-spacing: 1rem;
      font-size: 5rem;
    }

    &--slide-2 {
      opacity: 1;
      left: 20%;
      top: 35%;
      width: 20rem;
      animation: 7.5s slide-2-animation;  
    }

    &--slide-3 {
      opacity: 1;
      left: 20%;
      top: 55%;
      width: 20rem;
      animation: 7.5s slide-3-animation;  
    }
  }

  &__image {
    min-height: 90vh;
    /* You should set a background-size as the default value is "cover"! */
    background-size: cover; 
    /* So we won't have the default "lightgray" background-color. */
    background-color: transparent;
    /* Now again, remember the stacking order of CSS: lowermost comes last! */
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: center 155%, center, center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 85%);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  }

  @keyframes slide-1-animation {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes slide-2-animation {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes slide-3-animation {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

